body {
    background: #323643;
    font-family: 'Libre Barcode 39 Text', cursive;
}
.game {
    font-family: 'Press Start 2P', cursive;
}
.selected {
    text-decoration: underline solid #f7f7f7;
}
.passcure {
    position: relative;
    top: 3.5rem;
    border-radius: 2px;
    background: #606470;
}
#passcure-dropdown {
    width: 100%;
    float: right;
}
.button {
    background: #ff570c;
    font-size: 2rem;
    font-family: 'Squada One', cursive;
}
.button:focus,.button:hover {
    background: #ff570c;
}
.main-content, label {
    color: #f7f7f7;
    font-family: 'Comfortaa', cursive;
}
li.cta-button.button.first {
    border-bottom-left-radius: 2px;
}
li.cta-button.button.last {
    border-bottom-right-radius: 2px;
}
.passcure-tabs .material-icons {
    font-size: 4rem;
}
.passcure-options {
    margin-top: 3rem;
    margin-bottom: 2rem;
}
.passcure-options input, label {
    margin-left: 4rem
}
.option-labels {
    font-size: 96%;
}
optgroup[label] {
    font-family: 'Squada One', cursive;
    color: #f7f7f7;
    background: #ff570c;
}
optgroup option {
    font-family: 'Comfortaa', cursive !important;
    color: #323643;
}
optgroup option {
    background: #f7f7f7;
}
#passcure-dropdown, input.password {
    border-radius: 20px;
}
#generate-btn {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.copy-btn {
    position: absolute;
    font-size: 0.45rem;
    float: right;
    clear: left;
    z-index: 1;
    right: 14px;
    bottom: 4px;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
}
.arrow-down-btn {
    background: none;
    color: #ff570c;
    position: absolute;
    font-size: 0.45rem;
    float: right;
    clear: left;
    z-index: 1;
    right: 14px;
    top: 8.5rem;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
}
.arrow-down-btn:focus, .arrow-down-btn:hover {
    background: none;
    color: #ff570c;
}
/*//---------------------------------------------------------------------------------------//*/
 /* MOBILE SETTINGS START */
@media screen and (max-width: 414px) {
     .passcure-word .outputLabel {
       display: none;
    }
    .sentenceLabel, randomLabel {
        font-size: 15px;
    }
    .randomLabel {
        font-size: 14px;
    }
}